body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #93f2f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: rgb(130, 232, 234);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#todoForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: rgb(0, 136, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#taskList {
  list-style-type: none;
  padding: 0;
}

#taskList li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e9e9e9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Wrapper tombol edit & delete */
.btn-container {
  display: flex;
  gap: 8px;
}

/* Tombol Edit */
.edit-btn {
  background-color: #ffa500;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Tombol Delete */
.delete-btn {
  background-color: #f44336;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #c5df32;
}

.delete-btn:hover {
  background-color: #d32f2f;
}